body{
  border: 1px solid red;
}
.wrapper{
  position: relative;
  display: inline-block;
}
.popover{
  position: absolute;
  border: 1px solid red;
  left: 100%;
  top: 0;
  white-space: nowrap; /* 禁止文字自动换行 */
  padding: 10px;
  margin-left: 10px;
  background: white;
  display: none;
}
.popover::before{
  position: absolute;
  right: 100%;
  top: 5px;
  border: 10px solid transparent;
  border-right-color: red;
  content: '';
}
.popover::after{
  position: absolute;
  right: 100%;
  top: 5px;
  border: 10px solid transparent;
  border-right-color: white;
  content: '';
  margin-right: -1px;
}
